.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* mapboxgl's div style */
.map-style {
  width: 60vw;
  height: 40vw;
  text-align: justify;
  margin: 0 auto;
}

/* facilities container style */
.facility-container-style {
  height: 40vw;
  text-align: justify;
  margin: 0 auto;
}

/* Results div - 2 column style */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
  overflow: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
