.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* mapboxgl's div style */
.map-style {
  width: 60vw;
  height: 40vw;
  text-align: justify;
  margin: 0 auto;
}

/* facilities container style */
.facility-container-style {
  height: 40vw;
  text-align: justify;
  margin: 0 auto;
  overflow: auto;
}

/* flex-grid layout */
.flex-grid {
  display: flex;
  justify-content: space-between;
}

.flex-grid .col-left {
  width: 70%;
}

.flex-grid .col-right {
  width: 30%;
  padding-right: 20px;
}

/* facility card border shadow */
.border-shadow {
  box-shadow: 0px 15px 10px -15px;
  padding-top: 5vw;
}

/* SearchContainer - form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

/* FacilityCard */
.facility-card {
  height: 30vw;
  position: relative;
}

/* LoginForm */
.login-form {
  padding-top: 5vh;
}

/* SignupForm */
.signup-form {
  padding-top: 5vh;
}

.reservation-button {
  position: absolute;
  top: 30vh;
  right: 5vh;
}

/* ReservationForm */
.reservation-form {
  padding-top: 5vh;
}
